<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>판매글 상세</title>
  <th:block th:replace="~{layout/head :: headFragment}"></th:block>
</head>
<body>
<th:block th:replace="~{layout/header :: headerFragment}"></th:block>
<div class="container" style="width:1280px;margin:20px auto;">
  <h2 style="text-align: center;">판매글 상세</h2>
  <table class="table">
    <tbody>
    <tr>
      <th>번호</th>
      <td>[[${product.no}]]</td>
    </tr>
    <tr>
      <th>작성자</th>
      <td>[[${product.id}]]</td>
    </tr>
    <tr>
      <th>제목</th>
      <td>[[${product.title}]]</td>
    </tr>
    <tr>
      <th>내용</th>
      <td>[[${product.content}]]</td>
    </tr>
    <tr>
      <th>조회수</th>
      <td>[[${product.cnt}]]</td>
    </tr>
    <tr>
      <th>게시일</th>
      <td>[[${product.resdate}]]</td>
    </tr>
    <tr>
      <th>비고</th>
      <td>
        <th:block th:if="${#authentication.principal eq product.id or #authentication.authorities eq '[ADMIN]'}">
          <a th:href="@{/product/comUpdate(no=${product.no})}" class="button is-link is-small is-outlined is-rounded ">수정</a>
          <a th:href="@{/product/comDelete(no=${product.no})}" class="button is-danger is-small is-outlined is-rounded">삭제</a>
        </th:block>
      </td>
    </tr>
    <th:block sec:authorize="isAuthenticated()">
      <tr>
        <th>채팅하기</th>
        <td>
          <form th:action="@{/chat/createRoom}" method="post">
            <input type="hidden" name="buyer" id="buyer" th:value="${#authentication.principal}">
            <input type="hidden" name="seller" id="seller" th:value="${product.id}">
            <input type="hidden" name="pno" id="pno" th:value="${product.no}">
            <input type="hidden" name="name" th:value="${#authentication.principal + ' , ' + product.id + ' : ' + product.title}">
            <button type="submit" class="btn btn-primary">판매자와 채팅</button>
          </form>
        </td>
      </tr>
    </th:block>
    </tbody>
  </table>
  <hr>
  <h2>이미지</h2>
  <th:block th:each="file : ${fileList}">
    <div style="max-width: 300px">
      <!-- thymeleaf 에서 이미지 출력하는 법 -->
      <img th:src="@{/upload/{filename}(filename=${file.getSavefile()})}" alt="">
    </div>
  </th:block>
</div>
<th:block th:replace="layout/footer :: footerFragment"></th:block>
</body>
</html>