<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 목록</title>
  <th:block th:replace="layout/head :: headFragment"></th:block>
</head>
<body>
<th:block th:replace="layout/header :: headerFragment"></th:block>
<div class="container">
  <h2 style="text-align: center;">상품 목록</h2>
  <div class="search_from">
    <select name="select_filter" class="select_filter">
      <option value="0">번호</option>
      <option value="1">제목</option>
      <option value="2">작성일</option>
      <option value="3">읽은횟수</option>
    </select>
    <input type="text" name="search_filter" class="search_filter">
  </div>
  <table class="table" id="myTable">
    <thead class="thead-light">
    <tr>
      <th>번호</th>
      <th>제목</th>
      <th>작성일</th>
      <th>읽은횟수</th>
      <th>비고</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${productList}">
      <td>[[${product.no}]]</td>
      <td><a th:href="@{/common/getProduct(no=${product.no})}">[[${product.title}]]</a></td>
      <td>[[${product.resdate}]]</td>
      <td>[[${product.cnt}]]</td>
      <td>
        <th:block th:if="${#authentication.principal eq product.id or #authorization.expression('hasAuthority(''ADMIN'')')}">
          <a th:href="@{/product/productUpdate(no=${product.no})}" class="btn btn-primary">수정</a>
          <a th:href="@{/product/productDelete(no=${product.no})}" class="btn btn-danger">삭제</a>
        </th:block>
      </td>
    </tr>
    </tbody>
  </table>
  <th:block sec:authorize="isAuthenticated()">
    <a th:href="@{/product/fileUpload}" class="btn btn-primary">판매하기</a>
  </th:block>
</div>
<th:block th:replace="layout/footer :: footerFragment"></th:block>
<script th:src="@{/js/datatables.js}"></script>
</body>
</html>