<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>강좌 목록</title>
</head>
<body>
<h1>강좌 목록</h1>
    <ul>
        <th:block th:each="course : ${courseList}">
            <li><a th:href="@{/course/detail(no=${course.no})}" th:text="${course.title} + ' ' + ${course.peo_max} + '/' + ${course.peo_max}"></a></li>
        </th:block>
    </ul>
<div>
    <th:block sec:authorize="hasAuthority('ADMIN')">
        <li><a th:href="@{/course/insert}">강좌 등록</a></li>
    </th:block>
</div>
</body>
</html>