<!DOCTYPE html>
<!-- thymeleaf loyout 선언 -->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout1</title>
</head>
<body>
<h1>Layout1</h1>
<header layout:fragment="header">
  <h2>header</h2>
</header>
<div layout:fragment="contents">
  <h2>contents</h2>
</div>
<footer layout:fragment="footer">
  <h2>footer</h2>
</footer>
<th:block layout:fragment="script">
  <h2>script</h2>
</th:block>
</body>
</html>