<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 목록</title>
    <th:block th:replace="layout/head :: headFragment"></th:block>
</head>
<body>
<th:block th:replace="layout/header :: headerFragment"></th:block>
<div class="container">
    <h2 style="text-align: center;">게시판 목록</h2>
    <div class="search_from">
        <select name="select_filter" class="select_filter">
            <option value="0">번호</option>
            <option value="1">이름</option>
            <option value="2">작성자</option>
            <option value="3">조회수</option>
            <option value="4">게시일</option>
        </select>
        <input type="text" name="search_filter" class="search_filter">
    </div>
    <table class="table" id="myTable">
        <thead class="thead-light">
        <tr>
            <th scope="col">번호</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">조회수</th>
            <th scope="col">게시일</th>
            <th scope="col">비고</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board : ${boardList}">
            <td th:text="${board.id}"></td>
            <td><a th:href="@{/common/getBoard(id=${board.id})}" th:text="${board.title}"></a></td>
            <td th:text="${board.name}"></td>
            <td th:text="${board.cnt}"></td>
            <td th:text="${board.resdate}"></td>
            <td></td>
        </tr>
        </tbody>
    </table>
    <th:block sec:authorize="isAuthenticated()">
        <a th:href="@{/board/boardInsert(name=${#authentication.principal})}" class="btn btn-primary">게시글 작성</a>
    </th:block>
</div>
<th:block th:replace="layout/footer :: footerFragment"></th:block>
<script th:src="@{/js/datatables.js}"></script>
</body>
</html>