<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>댓글 수정</title>
    <th:block th:replace="layout/head :: headFragment"></th:block>
</head>
<body>
<th:block th:replace="layout/header :: headerFragment"></th:block>
<div class="container">
    <h2 style="text-align: center;">댓글 수정</h2>
    <form th:action="@{/board/commentUpdate}" method="post" style="width:600px;margin:15px auto;"
          onsubmit="return textCheck(this)">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <div class="form-group">
            <label for="content">Content</label>
            <input type="hidden" name="no" id="no" th:value="${com.no}" >
            <textarea name="content" class="form-control" id="content" placeholder="내용 입력" rows="8" cols="100" maxlength="280" required>[[${com.content}]]</textarea>
            <input type="hidden" id="ck" value="no">
            <div id="error-message"></div>
        </div>

        <div class="form-group">
            <button id="contBtn" type="button" class="btn btn-secondary">내용 검사</button>
            <input type="submit" class="btn btn-primary" value="글 수정" >
            <a class="btn btn-light" th:href="@{/common/boardList}">글 목록</a>
        </div>
    </form>
</div>
<th:block th:replace="layout/footer :: footerFragment"></th:block>
<script>
    $(document).ready(function() {
        $("#contBtn").click(function () {
            const textarea = $("#content");
            const errorMessage = $("#error-message");
            const ck_content = $("#ck");

            const inputText = textarea.val();
            const pattern = /^[a-zA-Z0-9_\s\n가-힣ㄱ-ㅎㅏ-ㅣ!?@^~,.]*$/;

            if (pattern.test(inputText)) {
                errorMessage.text("내용이 제대로 작성되었습니다.");
                ck_content.val("yes");
                // 여기에서 다른 작업 수행
            } else {
                errorMessage.text("영문, 숫자, 밑줄, 공백, 한글만 입력할 수 있습니다.");
                ck_content.val("no");
            }
        });
    });

    function textCheck(f) {
        if(f.ck.value == "no"){
            alert("게시글 내용을 검사해주세요");
            f.content.focus();
            return false;
        }
    }
</script>
</body>
</html>