<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 상세</title>
    <th:block th:replace="layout/head :: headFragment"></th:block>
</head>
<body>
<th:block th:replace="layout/header :: headerFragment"></th:block>
<div class="container" style="width:1280px;margin:20px auto;">
    <h2 style="text-align: center;">게시판 상세</h2>
    <table class="table">
        <tbody>
        <tr>
            <th>번호</th>
            <td th:text="${board.id}">$</td>
        </tr>
        <tr>
            <th>작성자</th>
            <td th:text="${board.name}"></td>
        </tr>
        <tr>
            <th>제목</th>
            <td th:text="${board.title}"></td>
        </tr>
        <tr>
            <th>내용</th>
            <td th:text="${board.content}"></td>
        </tr>
        <tr>
            <th>조회수</th>
            <td th:text="${board.cnt}"></td>
        </tr>
        <tr>
            <th>게시일</th>
            <td th:text="${board.resdate}"></td>
        </tr>
        <tr>
            <th>비고</th>
            <td>
                <!-- 아이디가 일치하거나 관리자인 경우 -->
                <th:block sec:authorize="isAuthenticated() and (hasAuthority('ADMIN') or #authentication.principal eq board.name)">
                    <a th:href="@{/board/boardUpdate(id=${board.id})}">수정</a>
                    <a th:href="@{/board/boardDelete(id=${board.id})}">삭제</a>
                </th:block>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="table" id="myTable">
        <thead>
        <tr>
            <th class="item1">작성자</th>
            <th class="item2">댓글</th>
            <th class="item3">작성일</th>
            <th class="item4">비고</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="lev : ${comment}">
                <td class="item1" th:text="${lev.name}"></td>
                <td class="item2" th:text="${lev.content}"></td>
                <td class="item3" th:text="${lev.resdate}"></td>
                <td class="item4">
                    <th:block th:if="${#authentication.principal eq lev.name or #authentication.authorities eq '[ADMIN]'}">
                        <a th:href="@{/board/comUpdate(id=${lev.id})}" class="button is-link is-small is-outlined is-rounded ">수정</a>
                        <a th:href="@{/board/comDelete(id=${lev.id})}" class="button is-danger is-small is-outlined is-rounded">삭제</a>
                    </th:block>
                </td>
            </tr>
        </tbody>
    </table>
    <form th:action="@{/board/commentInsert}" id="login_frm" class="frm" method="post" onsubmit="return comment(this)">
        <table class="tb3">
            <tbody>
            <tr>
                <th:block sec:authorize="isAuthenticated()">
                    <th class="has-text-centered" th:text="${#authentication.principal}"></th>
                    <th><textarea name="content" id="content" cols="100" rows="5" placeholder="댓글 작성" maxlength="250" required ></textarea></th>
                    <th>
                        <input type="hidden" name="name" th:value="${#authentication.principal}">
                        <input type="hidden" name="par" th:value="${board.id}">
                        <input type="submit" value="글쓰기" class="btn btn-primary">
                        <input type="hidden" id="ck" value="no">
                        <button id="contBtn" type="button" class="btn btn-secondary">내용 검사</button>
                        <div id="error-message"></div>
                    </th>
                </th:block>
            </tr>
            </tbody>
        </table>
    </form>
</div>
<th:block th:replace="layout/footer :: footerFragment"></th:block>
<script>
    $(document).ready(function() {
        $("#contBtn").click(function () {
            const textarea = $("#content");
            const errorMessage = $("#error-message");
            const ck_content = $("#ck");
            const inputText = textarea.val();
            const pattern = /^[a-zA-Z0-9_\s\n가-힣ㄱ-ㅎㅏ-ㅣ!?,.@^~]*$/;

            if (pattern.test(inputText)) {
                errorMessage.text("내용이 제대로 작성되었습니다.");
                ck_content.val("yes");
                // 여기에서 다른 작업 수행
            } else {
                errorMessage.text("영문, 숫자, 밑줄, 공백, 한글만 입력할 수 있습니다.");
                ck_content.val("no");
            }
        });
    });

    function comment(f) {
        if(f.ck.value == "no"){
            alert("게시글 내용을 검사해주세요");
            f.content.focus();
            return false;
        }
    }
</script>
<script th:src="@{/js/commentTables.js}"></script>
</body>
</html>