<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
</head>
<body>
<h1>타임리프 메인</h1>
<a th:href="@{/hello}">hello</a>
<a th:href="@{/hello2(name='홍길동', age=26)}">hello2</a>
<a th:href="@{/hello3(name='강감찬', age=30)}">hello3</a>
<hr>

<h2>sample 페이지</h2>
<a th:href="@{/ex/sample1}">sample1</a>
<a th:href="@{/ex/sample2}">sample2</a>
<a th:href="@{/ex/sample3}">sample3</a>
<a th:href="@{/ex/sample4}">sample4</a>
<a th:href="@{/ex/sample5}">sample5</a>
</body>
</html>