<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>File Upload</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        .error-field {
            color: red;
            font-weight: bold;
            border-color: red;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="text-center my-4">
        <h2>파일 업로드 폼</h2>
    </div>
    <form th:action="@{/form}" th:object="${item}" method="post" enctype="multipart/form-data">
        <div>
            <label for="itemName">상품명</label>
            <input type="text" th:field="*{itemName}"
                   class="form-control" id="itemName" th:errorclass="error-field">
            <div th:errors="*{itemName}" class="error-field"></div>
        </div>

        <hr class="my-4">
        <div>
            <label for="qty">상품개수</label>
            <input type="text" th:field="*{qty}" class="form-control" id="qty" th:errorclass="error-field">
            <div th:errors="*{qty}" class="error-field"></div>
        </div>

        <hr class="my-4">
        <div>
            <input type="file" th:field="*{file}" class="form-control">
        </div>
        <br/>

        <button class="btn-primary" type="submit">
            전송
        </button>
    </form>
</div>

</body>
</html>