<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>강좌 목록</title>
</head>
<body>
<h1>강좌 목록</h1>
    <ul>
        <th:block th:each="course, status : ${courseList}">
            <li>
                <span th:text="${course.title} + ' ' + ${course.peo} + '/' + ${course.peo_max}"></span>
                <a th:href="@{/admin/courseDetail(no=${course.no})}">강좌 상세 보기</a>
            </li>
        </th:block>
    </ul>
<div>
    <th:block sec:authorize="hasAuthority('ADMIN')">
        <li><a th:href="@{/admin/courseInsert}">강좌 등록</a></li>
    </th:block>
</div>
</body>
</html>