<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chunjae.test06.per.BoardMapper">
    <!-- 게시글 목록, 리스트 -->
    <select id="getBoardList" resultType="com.chunjae.test06.entity.Board">
        select * from board order by id desc
    </select>
    <!-- 게시글 상세 -->
    <select id="getBoard" resultType="com.chunjae.test06.entity.Board">
        select * from board where id = #{id}
    </select>
    <!-- 게시글작성 -->
    <insert id="insertBoard">
        INSERT INTO board values(default, #{name}, #{title}, #{content}, default, default)
    </insert>
    <!-- 게시글수정 -->
    <update id="updatBoard">
        UPDATE board SET title=#{title}, content=#{content} WHERE id = #{id}
    </update>
    <!-- 게시판 삭제 -->
    <delete id="deleBoard">
        DELETE from board where id = #{id}
    </delete>
    <!-- 댓글 목록 -->
    <select id="commentList" resultType="com.chunjae.test06.entity.Comment">
        select * from board_com where par = #{par}
    </select>
    <!-- 댓글 작성 -->
    <insert id="inserBoardCom">
        INSERT INTO board_com values(default, #{name}, #{content}, default, #{par})
    </insert>
    <!-- id(no) 로 Board 찾기 -->
    <select id="getBoardById" resultType="com.chunjae.test06.entity.Board">
        select * from board where id = #{id}
    </select>
    <!-- name(실제 id) 로 Board 찾기 -->
    <select id="getBoardByName" resultType="com.chunjae.test06.entity.Board">
        select * from board where name = #{name}
    </select>
</mapper>