<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>요약 정리</title>
</head>
<body>
<h1>요약 정리</h1>
<div>
<p>내용</p>
</div>
<form th:action="@{/video/test}" onsubmit="return testCheck()">
    <!--    <input type="hidden" name="vidoe_time" id="video_time" th:value="${video_time}">-->
    <input type="submit" value="문제풀기">
</form>

<script th:inline="javascript">

    // 시험보기
    function testCheck() {
        return confirm('시험을 보시겠습니까?');
    }
</script>
</body>
</html>