<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>시험</title>
  <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
<h1>시험</h1>
<div>
  <form action="" method="post" onsubmit="return sbmsn();">
<!--    <th:block th:each="">-->
      <div>
        <h3>1번</h3>
        <p>문제</p>
        <fieldset>
          <legend>정답 선택</legend>

          <div>
            <input type="radio" id="huey" name="ex1" value="huey" checked />
            <label for="huey">Huey</label>
          </div>

          <div>
            <input type="radio" id="dewey" name="ex1" value="dewey" />
            <label for="dewey">Dewey</label>
          </div>

          <div>
            <input type="radio" id="louie" name="ex1" value="louie" />
            <label for="louie">Louie</label>
          </div>

          <div>
            <input type="radio" id="test" name="ex1" value="test4" />
            <label for="test">Test</label>
          </div>
        </fieldset>
      </div>
<!--    </th:block>-->

    <div>
      <h3>2번</h3>
      <p>문제</p>
      <fieldset>
        <legend>정답 선택</legend>

        <div>
          <input type="radio" id="huey2" name="ex2" value="huey" checked />
          <label for="huey2">Huey</label>
        </div>

        <div>
          <input type="radio" id="dewey2" name="ex2" value="dewey" />
          <label for="dewey2">Dewey</label>
        </div>

        <div>
          <input type="radio" id="louie2" name="ex2" value="louie" />
          <label for="louie2">Louie</label>
        </div>

        <div>
          <input type="radio" id="test2" name="ex2" value="test" />
          <label for="test2">Test</label>
        </div>
      </fieldset>
    </div>

    <div>
      <h3>3번</h3>
      <p>문제</p>
      <fieldset>
        <legend>정답 선택</legend>

        <div>
          <input type="radio" id="huey3" name="ex3" value="huey" checked />
          <label for="huey3">Huey</label>
        </div>

        <div>
          <input type="radio" id="dewey3" name="ex3" value="dewey" />
          <label for="dewey3">Dewey</label>
        </div>

        <div>
          <input type="radio" id="louie3" name="ex3" value="louie" />
          <label for="louie3">Louie</label>
        </div>

        <div>
          <input type="radio" id="test3" name="ex3" value="test" />
          <label for="test3">Test</label>
        </div>
      </fieldset>
    </div>

    <div>
      <h3>4번</h3>
      <p>문제</p>
      <fieldset>
        <legend>정답 선택</legend>

        <div>
          <input type="radio" id="huey4" name="ex4" value="huey" checked />
          <label for="huey4">Huey</label>
        </div>

        <div>
          <input type="radio" id="dewey4" name="ex4" value="dewey" />
          <label for="dewey4">Dewey</label>
        </div>

        <div>
          <input type="radio" id="louie4" name="ex4" value="louie" />
          <label for="louie4">Louie</label>
        </div>

        <div>
          <input type="radio" id="test4" name="ex4" value="test" />
          <label for="test4">Test</label>
        </div>
      </fieldset>
    </div>

    <div>
      <h3>5번</h3>
      <p>문제</p>
      <fieldset>
        <legend>정답 선택</legend>

        <div>
          <input type="radio" id="huey5" name="ex5" value="huey" checked />
          <label for="huey5">Huey</label>
        </div>
        <div>
          <input type="radio" id="dewey5" name="ex5" value="dewey" />
          <label for="dewey5">Dewey</label>
        </div>

        <div>
          <input type="radio" id="louie5" name="ex5" value="louie" />
          <label for="louie5">Louie</label>
        </div>

        <div>
          <input type="radio" id="test5" name="ex5" value="test" />
          <label for="test5">Test</label>
        </div>
      </fieldset>
    </div>

    <input type="submit" value="답안 제출">
  </form>
  <script th:inline="javascript">

    let answers = [];

    $.ajax({
      type : 'post',
      url : '/video/answers',
      dataType : "json",
      async: false,

      success : function (result) {
        console.log(result);
        answers = result;
      }
    })

    // 답안 제출
    function sbmsn() {

      let selectArr = []; // 선택된 값들을 저장할 배열

      // 각 fieldset 내에서 선택된 라디오 버튼의 값을 추출하여 배열에 저장합니다.
      $('fieldset').each(function() {
        let checkedRadio = $(this).find('input[type="radio"]:checked');
        if (checkedRadio.length > 0) {
          selectArr.push(checkedRadio.val()); // 선택된 값을 배열에 추가합니다.
        }
      });

      // 추출된 선택된 값들을 콘솔에 출력합니다.
      console.log("선택된 값들:", selectArr);
      console.log('정답 : ', answers);


      // 여기서 미리 몇 개를 맞았는지 계산해서 출력
      // 지금 상태는 예시 코드 상태
      let answerCnt = 0;

      // 맞은 개수 세기
      for(var i=0; i<5; i++) {
        if(answers[i] == selectArr[i]) {
          answerCnt++;
        }
      }

      let hint = '과반수 이상 맞히지 못해서 아직 수정을 더 해야 합니다.' +
              '\n통과하지 못할 경우 해당 강의를 처음부터 다시 공부해야 합니다.\n';
      if(answerCnt >= 3) {
        hint = '과반수 이상 맞아서 통과가 가능합니다.\n';
      }
      return confirm(hint + `답안을 제출하시겠습니까? \n맞은 답안의 개수 : ${answerCnt} \n선택 : ${selectArr} \n정답 : ${answers}`);
    }
  </script>
</div>
</body>
</html>